/***** NAVBAR *****/
  
  /* Change the link color on hover */
.navbar-default{
    z-index: 100;
    position: fixed;
    top: 0px;
    width: 100%;
}
.navbar-default .navbar-nav > li > a:hover{
    background-color: rgb(169, 182, 255);
    color: white;    
}
.navbar-default .active {
    background-color: #6669e4;
    color: white;
 }
 
.navbar-default .navbar-nav > li > a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
}

.navbar {
    background-color: #26278f;
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: white;
    font-size: px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,

.navbar-default .navbar-nav > li > a:focus {
    color: #f3cb1a;
    text-decoration: none;
}
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #2067b8;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #6bbde4;
    color: #ffffff;
    fill: #ffffff;
    border-color: #fff;

}

/** CONTENT**/
.content {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}
.content h1{
    vertical-align:middle;
    text-align:center;
    color: #26278f;
}
.content h2{
    margin-top: 20px;
    color: rgb(125, 77, 235);
}
.content h4{
    color: darkslategrey;
    font-style: italic;
}
.content p{
    color: rgb(75, 75, 75);
}
@media screen and (min-width: 1000px) {
    .flex-parent {
        display: flex;
        margin-bottom: 50px;
        align-items:center;
        justify-content:center;
    }
    .text-child {
        flex: 1;
        width: 50%;
        vertical-align: center;
        text-align: justify;
    }
    .img-child{
        flex: 1;
        width: 50%;
        vertical-align: center;
        text-align: center;
    }
    .img-child img{
        height: auto;
    }
}
@media screen and (max-width: 1000px) {
    .flex-parent {
        margin-bottom: 50px;
        align-items:center;
        justify-content:center;
        display: flex;
        flex-direction: column;
    }
    .text-child {
        order: 2;
        vertical-align: center;
        text-align: justify;
    }
    .img-child{
        order: 1;
        vertical-align: center;
        text-align: center;
    }
    .img-child img{
        height: auto;
    }
}
#index-image {
    vertical-align: center;
    text-align: center;
}
#index-image img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

#bottom-info {
    background-color:#fff;
    position: relative;
    text-size-adjust: 50%;
    
}

#bottom-info p{
    font-size: 16px;
    color:dimgrey;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.address{
    text-indent: -40px;
    padding-left: 80px;
}
p {
    font-size: 20px;
}

a {
    text-decoration:underline;
    color: #456ffc;
}

a:hover {
    color: #eb2287;
}

body {

    font-family: 'Georgia', serif;
    background-color: #f7f1fa;
    color: #242424;
}

.sidebar {
    top: 70px;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  div.index {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }